.feed-card {
    background: white;
    padding: 25px;
    margin: 17px;
}
.feed-card-header{
    margin: 15px 0;
    padding: 10px 0;
}
.feed-card-header::after, .feed-card-file-attachment::after{
    content: '';
    clear:both;
    display: block;
}
.feed-card-header .feed-card-name{
    float: left;
    font-weight: bold;

}
    .feed-card-header .feed-card-name i {
        margin-right: 10px;
        margin-left: 10px;
    }
.feed-card-header .feed-card-timing{
    float: right; 
    color: #ccc;
}
.feed-card-image-preview img {
    height: 285px;
    object-fit: cover;
    width:100%;
}
.feed-card-image-preview {
    margin: 15px;
    position: relative;
    border: 2px solid #b9b9b9;
}
.black-background {
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
}
.feed-card-image-preview .black-background{
    position: absolute; 
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}
    .feed-card-image-preview .black-background i {
       
        color: rgba(255,255,255, 0.7)

    }
.black-background i {
    color: rgba(255,255,255, 0);
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    position: absolute;
    display: block;
}

.feed-card-main {
    border: 2px solid #ccc;
    padding: 15px 8px;
    border-right: none;
    border-left: none;
}
.feed-card-file-attachment {
    background: #ebebeb;
}
    .feed-card-file-attachment .file-attachment-extension {
        float: left;
        height: 57px;
        background: #afafaf;
        padding: 15px 10px;
        color: white;
        text-transform: uppercase;
    }
.file-attachment-body {
    padding: 7px;
    color: #707070;
    text-transform: uppercase;
    float: left;
}
.file-attachment-download {
    float: right;
    margin: 15px 10px;
}
.file-attachment-download-btn {
    background: #fff;
    border: none;
    padding: 3px 10px;
    color: #989898;
}
.right-corder-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

    .right-corder-container .right-corder-container-button {
        height: 62px;
        width: 62px;
        border: none;
        background-color: #6FB583;
        border-radius: 62px;
        transition: all 300ms;
        box-shadow: 0px 0px 13px 0px rgba(173,173,173,1);
        cursor: pointer;
    }

        .right-corder-container .right-corder-container-button .short-text {
            font-size: 31px;
            color: white;
            position: absolute;
            left: 12px;
            top: 12px;
            line-height: 32px;
            width: 38px;
            text-align: center;
        }

        .right-corder-container .right-corder-container-button:hover {
            transition: all 400ms cubic-bezier(.62,.1,.5,1);
            width: 225px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .right-corder-container .right-corder-container-button .long-text {
            transition: opacity 1000ms;
            opacity: 0;
            color: white;
            white-space: nowrap;
            font-size: 0;
            width: 0;
            margin: 0;
        }

            .right-corder-container .right-corder-container-button .long-text.show-long-text {
                transition: opacity 700ms, width 1ms linear 270ms, font-size 1ms linear 270ms;
                opacity: 1;
                margin-top: -4px;
                margin-left: 47px;
                font-size: 21px;
                width: auto;
            }