<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/169789ed-e654-4356-8073-5de4a83189d0/resourceGroups/MOFOAppResourceGroup/providers/Microsoft.Web/sites/mofoapp</ResourceId>
    <ResourceGroup>MOFOAppResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mofoapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mofoapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mofoapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mofoapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mofoapp.database.windows.net,1433;Initial Catalog=mofoapp_db;User ID=mihailnenchev@mofoapp;Password=Misho2001" Name="Data Source=tcp:mofoapp.database.windows.net,1433;Initial Catalog=mofoapp_db;User Id=mihailnenchev@mofoapp;Password=Misho2001" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MOFO.Database.Database, MOFO.Database" MigrationConfiguration="MOFO.Database.Migrations.Configuration, MOFO.Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mofoapp.database.windows.net,1433;Initial Catalog=mofoapp_db;User Id=mihailnenchev@mofoapp;Password=Misho2001</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>