@{
Layout  = null;
}
<html>
<body class="green-theme" style="font-size: 14.5px;">
    <div style="background:#efefef ">
        <div class="container" style=" width: 490px;padding: 7px;margin: 0 auto;position: relative;">
            <div class="main" style=" background-color: #fff;padding: 35px;margin-top: 50px;">
                <center><h1>Смяна на парола</h1></center>

                <p style=" margin: 20px 0;color: #979797;">Здравей @Model.Name, <br> Получавате този имейл във връзка с пусната заявка за забравена парола за достъп до профила ви в Techip.bg. </p>

                <p><strong>За да промените паролата е необходимо да кликнете на разположения по-долу линк, след което автоматично ще бъдете насочени към страницата за промяна на паролата.</strong></p>

                <p><center><a class="btn" href="@Model.Callback">Смяна на паролата</a></center></p>

                <p>В случай, че не сте пускали заявка за промяна на паролата, моля игнорирайте този e-mail. </p>
                <footer>

                    <p style="font-size: 13px;margin: 20px 0;color: #979797;">Вие получавате този имейл във връзка с актуализация по вашия акаунт.</p>
                    <p style="font-size: 13px; margin: 20px 0;color: #979797;">@DateTime.Now.Year Techip.bg - Акварел ООД - Пловдив</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>

