@{
    ViewBag.Title = "Cities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="p-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" data-bind="value: cityName" placeholder="Име на населеното място" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select id="filterSelect" class="form-control">
                                <option value="0" disabled selected hidden>Статус</option>
                                <option value="1">Неодобрен</option>
                                <option value="2">Одобрен</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-secondary form-control" data-bind="click: clearForm">Изчисти</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-success form-control" data-bind="click: search">Търси</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-primary form-control" data-bind="click: openMergeModal">Сливане на населени места</button>
                            </div>
                        </div>
                        <div class="col-md-6 d-md-block d-none">
                            <span class="text-white">.</span>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-success form-control" data-bind="click: createNewCity">+ Добавяне на населено място</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Име на населено място</th>
                                        <th>Статус</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ko foreach: cities-->
                                    <tr>
                                        <td data-bind="text: $index()+1"></td>
                                        <td><span data-bind="text: cityName"></span></td>
                                        <td data-bind="text: status"></td>
                                        <td><a class="btn btn-primary" target="_parent" data-bind="attr:{href: cityUrl}">Детайли</a></td>
                                    </tr>
                                    <!--/ko-->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--ko with: addCityModal-->
                    <div class="modal fade" id="addCityModal" data-bind="css: modalCss">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" data-bind="text: modalHeader"></div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Име на населеното място" data-bind="value: name, css: name.validClass" />
                                        <div class="invalid-feedback" data-bind="visible: name.isInvalid, text: name.message">
                                            Please provide a valid informations.
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bind="click: closeBtn">Затвори</button>
                                        <button type="button" class="btn btn-primary" id="saveBtn" data-bind="click: saveChanges, text: saveBtnText">Добави</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--ko with: mergeCityModal-->
                    <div class="modal fade" id="mergeCityModal" data-bind="css: modalCss">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" data-bind="text: modalHeader"></div>
                                <div class="modal-body">
                                    <span>Сливане на населено място:</span>
                                    <select id="citySelect" style="width:100%"></select>
                                    <span>В населено място:</span>
                                    <select id="mergeSelect" style="width: 100%"></select>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bind="click: closeBtn">Отказ</button>
                                        <button type="button" class="btn btn-success" id="saveBtn" data-bind="click: saveChanges, text: saveBtnText"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->

                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@section AddToScript{
    @Scripts.Render("~/Scripts/app/admin/citiesViewModel.js")
}